[
 {kernel, [
           {logger_level, notice}
          ]},
 {kakman, [
           {log_root, "logs"},
           {handlers, [
                       #{
                         sup_id       => myout1_sup,
                         handler_name => myout1,
                         file         => "myout1.log",
                         rotations    => 6,     %% keep 6 generations
                         maxage       => 10     %% write for 10 seconds, then rotate
                        },
                       #{
                         sup_id       => myout2_sup,
                         handler_name => myout2,
                         file         => "myout2.log",
                         rotations    => 0,     %% keep 0 generations
                         maxage       => 60     %% write for 60 seconds, then rotate
                        }
                      ]}
          ]}
].
